[Unit]
Description=Daily TheRide transit data refresh
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/bususer/bus/refresh_service/bus-transit-refresh
WorkingDirectory=/home/bususer/bus/
