[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "*"
chardet = "*"
click = "*"
idna = "*"
itsdangerous = "*"
pytz = "*"
requests = "*"
transitfeed = "*"
urllib3 = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"

[requires]
python_version = "2.7"
