<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/darkly/bootstrap.min.css" integrity="sha384-ae362vOLHy2F1EfJtpMbNW0i9pNM1TP2l5O4VGYYiLJKsaejqVWibbP6BSf0UU5i" crossorigin="anonymous">
    <title>Bus Times</title>
</head>
<body>
{% for stop in stops %}
<h3>{{ stop.name }}</h3>
<table class="table">
<tr>
<th>Route</th>
<th>Predicted</th>
<th>Scheduled</th>
</tr>
    {% for arrival in stop.arrivals %}
    <tr>
    <td>{{ arrival.route }} </td>
    <td>{{ arrival.predicted }}</td>
    <td>{{ arrival.scheduled }}</td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
<p>Transit scheduling, geographic, and real-time data provided by permission of AAATA/TheRide.<p>
</body>
</html>